/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
canvas,
svg,
source {
  display: block;
  max-width: 100%;
}

:root {
  --radius: 15px;
  --bg-color: #a9def9;
  --white: #fafafa;
  --icy-blue: #a9def9;
  --yale-blue: #004777;
}

body {
  padding: 2rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--bg-color);
}
